<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="handleScroll($event)">
  <div class="container flex flex-col flex-grow min-h-full mx-auto">
    <!-- Header -->
    <div class="w-full p-4 flex flex-col gap-4 mt-4 plt-ios:pt-10 sticky top-0 z-50 bg-white "
      [ngClass]="{'!flex-row items-center shadow-sm' : scrollTop > 150}">
      <app-back-button></app-back-button>
      <div class="text-4xl font-bold" [ngClass]="{'!text-xl' : scrollTop > 150}">Surat Keluar</div>
    </div>

    <div class="flex-grow w-full bg-white rounded-t-2xl p-6">

      <div class="flex justify-end">
        <ion-button mode="ios" size="small" fill="clear" (click)="toggleDateInput()">
          <ion-icon slot="start" [name]="showDateInput? 'chevron-up-outline' : 'chevron-down-outline'"
            class="w-4 h-4"></ion-icon>
          Search
          <ion-icon slot="end" name="search-outline" class=" w-4 h-4"></ion-icon>
        </ion-button>
      </div>

      <div *ngIf="showDateInput">
        <ion-searchbar mode="ios" (search)="searchData()" [(ngModel)]="search.value" (ionClear)="onInputCleared($event)"
          (ionInput)="onInputChanged($event)"></ion-searchbar>
        <div class="flex gap-2 justify-center px-4">
          <div class="h-10 w-full border border-gray-300 rounded-lg flex items-center justify-center"
            (click)="selectStartDate()">
            <div class="text-sm text-gray-500">{{ selectedStartDate ? selectedStartDate : 'Tanggal Awal' }}</div>
          </div>
          <div class="h-10 w-full border border-gray-300 rounded-lg flex items-center justify-center"
            (click)="selectEndDate()">
            <div class="text-sm text-gray-500">{{ selectedEndDate ? selectedEndDate : 'Tanggal Akhir' }}</div>
          </div>
        </div>

        <div class="flex gap-2 px-4 py-2">
          <ion-button size="small" class="w-full" fill="outline" color="secondary" expand="block" mode="ios"
            (click)="resetSearch()">
            Reset
            <ion-icon slot="start" name="refresh-outline" class="w-4 h-4"></ion-icon>
          </ion-button>
          <ion-button size="small" class="w-full" expand="block" mode="ios" (click)="searchData()">
            Cari
            <ion-icon slot="start" name="search-outline" class="w-4 h-4"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="text-center w-full my-4" *ngIf="mails?.length < 1 && !loader.isLoading.value">- Tidak Ada Dokumen -
      </div>

      <div *ngIf="loader.isLoading.value && !mails">
        <app-skeleton [type]="'doc-thumb'" *ngFor="let i of [1,2,3,4,5]"></app-skeleton>
      </div>

      <app-sent-thumbnail *ngFor="let mail of mails" [data]="mail"></app-sent-thumbnail>

      <ion-infinite-scroll (ionInfinite)="loadMore($event)" [disabled]="!infiniteScrollData.enable">
        <ion-infinite-scroll-content [loadingSpinner]="'crescent'"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>