<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="handleScroll($event)">
  <div class="container flex flex-col flex-grow min-h-full mx-auto">
    <!-- Header -->
    <div class="w-full h-[92px] p-4 flex flex-col mt-4 plt-ios:pt-10 plt-ios:h-[120px] sticky top-0 z-50"
      [ngClass]="{'!flex-row items-center bg-white shadow-sm' : scrollTop > 50}">
      <app-back-button></app-back-button>
      <div class="text-4xl font-bold" [ngClass]="{'!text-2xl' : scrollTop > 50}">Pengaturan</div>
    </div>

    <div class="flex-grow w-full bg-white rounded-t-2xl px-6 py-10 mt-4">
      <div class="p-2">
        <div class="flex gap-4 items-center justify-between p-4 my-4 rounded-xl card-shadow min-h-[80px]"
          *ngFor="let menu of menu.settingsMenu" (click)="menu.action()"
          [ngClass]="{'hidden' : menu?.name === 'Biometrics' && user?.role.slug !== 'signer'}">
          <!-- [ngClass]="{'hidden' : menu?.name === 'Biometrics' && !isBiometricsAvailable || user?.role.slug !== 'signer'}"> -->
          <div class="flex gap-4 items-center">
            <ion-icon [name]="menu.icon" [src]="menu.icon" class="h-8 w-8 flex-shrink-0"></ion-icon>
            <ion-label>{{ menu.name }}</ion-label>
          </div>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>