<ion-content [fullscreen]="true">
  <div class="container flex flex-col flex-grow min-h-full mx-auto">
    <!-- Header -->
    <div class="w-full p-4 flex justify-end gap-4 mt-4 plt-ios:pt-10 sticky top-0 z-50 bg-white">
      <ion-button fill="clear" mode="ios" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </div>

    <div class="flex-grow w-full bg-white rounded-t-2xl px-6 py-10 mt-4">
      <pdf-viewer *ngFor="let file of files" [render-text]="true" [src]="file" [fit-to-page]="true"
        [zoom-scale]="'page-width'" [show-borders]="true" [original-size]="false" [autoresize]="true"
        [zoom]="pdfOptions.zoom" [rotation]="pdfOptions.rotation"
        class="w-full h-[calc(100vh-170px)] border border-solid border-gray-500 plt-ios:h-[calc(100vh-230px)]"
        (error)="onLoadError($event)"></pdf-viewer>
    </div>

    <div
      class="flex flex-row justify-center gap-6 fixed bottom-5 min-h-10 px-4 py-2 left-5 w-[calc(100%-40px)] bg-red-300 bg-opacity-50 backdrop-blur-sm shadow-xl rounded-xl border border-red-300 border-2">
      <div class="flex gap-2 items-center">
        <ion-button (click)="zoomOut()" fill="clear">
          <ion-icon src="assets/images/zoom-out.svg"></ion-icon>
        </ion-button>
        <div class="text-red-500">{{ (pdfOptions.zoom * 100) | number : '1.0'}}%</div>
        <ion-button (click)="zoomIn()" fill="clear">
          <ion-icon src="assets/images/zoom-in.svg"></ion-icon>
        </ion-button>
      </div>

      <ion-button (click)="rotate()" fill="clear">
        <ion-icon src="assets/images/rotate-right.svg"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>