<ion-card mode="ios" class="p-4 mx-0 rounded-xl" (click)="showDetail()">
  <div class="flex flex-row items-center">
    <ion-icon src="assets/images/file-pdf.svg" class="w-8 h-8 flex-shrink-0"
      [ngClass]="{'text-red-500' : isNew, 'text-blue-500' : !isNew}"></ion-icon>
    <!-- [ngClass]="{'text-blue-400' : data?.status === 0, 'text-red-400' : data?.status === -1, 'text-green-400' : data?.status === 1}"></ion-icon> -->
    <div class="flex flex-col mx-4">
      <div class="font-bold text-base">{{ data?.name }}</div>
      <div>Perihal : {{ data?.desc ? data?.desc : "-" }}</div>
      <div class="text-sm text-gray-400">{{ convertDate(data?.date) }}</div>
      <div class="text-sm"
        [ngClass]="{'text-blue-400' : data?.status === 0, 'text-red-400' : data?.status === -1, 'text-green-400' : data?.status === 1}"
        *ngIf="role.slug === 'signer'">
        {{ data?.status_label }}</div>
      <div class="text-sm"
        [ngClass]="{'text-blue-400' : data?.flag_proses === 0, 'text-red-400' : data?.flag_proses === -1, 'text-green-400' : data?.flag_proses === 1}"
        *ngIf="role.slug === 'ack'">
        {{ data?.proses_label }}</div>
    </div>
  </div>
</ion-card>