<div class="p-6">
  <div class="flex justify-center">
    <button class="flex flex-col mx-4 items-center gap-2 p-4 bg-red-100 rounded-xl w-[150px]"
      (click)="dismissModal('scan')">
      <ion-icon name="scan-outline" class="text-red-500 h-8 w-8"></ion-icon>
      <div class="text-red-600 text-sm">Pindai QR Code</div>
    </button>

    <button class="flex flex-col mx-4 items-center gap-2 p-4 bg-red-100 rounded-xl w-[150px]"
      (click)="dismissModal('upload')">
      <ion-icon name="cloud-upload-outline" class="text-red-500 h-8 w-8"></ion-icon>
      <div class="text-red-600 text-sm">Unggah Dokumen</div>
    </button>
  </div>
</div>