<ion-content [fullscreen]="true">
  <div class="flex flex-col flex-grow min-h-full">
    <div class="w-full p-4 plt-ios:pt-10">
      <app-back-button [target]="'landing'" [color]="'light'"></app-back-button>
    </div>
    <div class="w-full p-6">
      <div class="text-lg font-normal text-white">Badung Digital Signature</div>
      <div class="text-5xl font-bold text-white">Selamat Datang</div>
    </div>
    <div class="flex-grow w-full bg-white rounded-t-2xl">
      <div class="container mx-auto p-4">

        <!-- Login With Username and Password -->
        <form [formGroup]="loginForm" *ngIf="!isBiometric || !biometricData">
          <div class="my-4 px-2 text-gray-400">Masukan username dan password anda untuk masuk ke aplikasi</div>
          <ion-item lines="none" class="border border-gray-300 rounded-xl my-2"
            [ngClass]="{'border-red-400' : loginForm.get('username')?.invalid && loginForm.get('username')?.touched, 'border-green-400' : loginForm.get('username')?.valid}">
            <ion-icon name="person-outline" class="mr-4"></ion-icon>
            <ion-input type="text" formControlName="username" placeholder="Username" [readonly]="loader.isLoading.value"
              (ionInput)="onInput($event)"></ion-input>
          </ion-item>

          <ion-item lines="none" class="border border-gray-300 rounded-xl my-2"
            [ngClass]="{'border-red-400' : loginForm.get('password')?.invalid && loginForm.get('password')?.touched, 'border-green-400' : loginForm.get('password')?.valid}">
            <ion-icon name="lock-closed-outline" class="mr-4"></ion-icon>
            <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password"
              [readonly]="loader.isLoading.value" (ionInput)="onInput($event)"></ion-input>
            <ion-button fill="clear" (click)="showPassword = !showPassword" [disabled]="loader.isLoading.value">
              <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item class="flex items-center text-red-500 my-2" lines="none" *ngIf="error">
            <ion-icon slot="start" class="mr-2" name="alert-circle-outline" color="danger"></ion-icon>
            <ion-text>{{ error }}</ion-text>
          </ion-item>

          <div class="flex">
            <ion-button expand="block" mode="ios" [disabled]="loginForm.invalid || loader.isLoading.value"
              (click)="login()" class="w-full"><ion-spinner name="crescent" *ngIf="loader.isLoading.value"
                class="mx-2"></ion-spinner>{{
              loader.isLoading.value ? 'Logging In...' : 'Masuk'
              }}</ion-button>
          </div>
        </form>


        <!-- Login With Biometrics -->
        <div class="my-10 flex flex-col items-center" *ngIf="isBiometric && biometricData">
          <ion-icon class="h-16 w-16 text-red-500 "
            [src]="biometricType === 2  ? 'assets/images/face-id.svg' : 'assets/images/finger-id.svg'"></ion-icon>

          <div class="my-4 text-xl font-bold">Login dengan {{ biometricType === 2 ? 'Face ID' : 'Finger ID'}}</div>

          <div class="text-center text-gray-500">Login menggunakan {{ biometricType === 2 ? 'Face ID' : 'Finger ID'}}
            lebih cepat dan
            memudahkan untuk
            masuk ke akun anda</div>

          <ion-button mode="ios" class="my-4" shape="round" (click)="performBiometric()"
            [disabled]="loader.isLoading.value">
            <ion-label *ngIf="!loader.isLoading.value">Login dengan {{ biometricType === 2 ? 'Face ID' :
              'FingerID'}}</ion-label>
            <ion-label *ngIf="loader.isLoading.value">Logging in...</ion-label>
          </ion-button>

          <ion-button class="my-4" fill="outline" color="dark" mode="ios" size="small" shape="round"
            (click)="openSignInModal()">Login dengan akun lain</ion-button>
        </div>

      </div>
    </div>
  </div>
</ion-content>