<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="handleScroll($event)">
  <div class="container flex flex-col flex-grow min-h-full mx-auto">
    <!-- Header -->
    <div class="w-full p-4 flex flex-col gap-4 mt-4 plt-ios:pt-10 sticky top-0 z-50"
      [ngClass]="{'!flex-row items-center bg-white shadow-sm' : scrollTop >= 100}">
      <app-back-button></app-back-button>
      <div class="text-4xl font-bold" [ngClass]="{'!text-2xl' : scrollTop >= 100}">Detail Surat</div>
    </div>

    <div class="flex-grow w-full bg-white rounded-t-2xl p-6">
      <ion-card class="mb-10 mx-0 p-6" mode="ios">
        <div class="text-2xl font-bold text-[--ion-color-primary]">
          Informasi Dokumen
        </div>

        <div class="flex flex-col my-4">
          <div class="font-bold text-black text-base">
            Nomor / Judul Surat
          </div>
          <div class="text-sm">
            {{ mailDetail?.nomor }}
          </div>
        </div>

        <div class="flex flex-col my-4">
          <div class="font-bold text-black text-base">
            Tanggal
          </div>
          <div class="text-sm">
            {{ convertDate(mailDetail?.tgl) }}
          </div>
        </div>

        <div class="flex flex-col my-4">
          <div class="font-bold text-black text-base">
            Perihal
          </div>
          <div class="text-sm">
            {{ mailDetail?.perihal }}
          </div>
        </div>

        <div class="flex flex-col my-4">
          <div class="font-bold text-black text-base">
            Pengirim
          </div>
          <div class="text-sm">
            {{ mailDetail?.pengirim }}
          </div>
        </div>

        <div class="flex flex-col my-4">
          <div class="font-bold text-black text-base">
            Tujuan
          </div>
          <div class="text-sm">
            <div *ngFor="let tujuan of mailDetail?.tujuan; let i = index;">{{ tujuan }}</div>
          </div>
        </div>

        <div class="flex flex-col my-4" *ngIf="mailDetail?.tembusan.length > 0">
          <div class="font-bold text-black text-base">
            Tembusan
          </div>
          <div class="text-sm">
            <div *ngFor="let tembusan of mailDetail?.tembusan; let i = index;">{{ tembusan }}</div>
          </div>
        </div>

        <div class="flex flex-col my-4" *ngIf="mailDetail?.tembusan_khusus.length > 0">
          <div class="font-bold text-black text-base">
            Tembusan khusus
          </div>
          <div class="text-sm">
            <div *ngFor="let tembusan_khusus of mailDetail?.tembusan_khusus; let i = index;">{{ tembusan_khusus }}</div>
          </div>
        </div>

        <div class="flex flex-col my-4" *ngIf="fileSurat || lampirans?.length > 0">
          <div class="font-bold text-black text-base">
            Berkas
          </div>
          <div class="flex justify-between items-center" *ngIf="fileSurat">
            <div>Surat</div>
            <ion-button fill="solid" color="tertiary" size="small" mode="ios" expand="block"
              (click)="prepareSurat(fileSurat)">Lihat</ion-button>
          </div>
          <div class="flex justify-between items-center" *ngIf="lampirans.length > 0">
            <div>Lampiran</div>
            <ion-button fill="solid" color="tertiary" size="small" mode="ios" expand="block"
              (click)="prepareLampiran(lampirans)">Lihat</ion-button>
          </div>
        </div>

        <div class="flex flex-col my-4" *ngIf="balasan?.balasan && balasan?.balasan.length > 0">
          <div class="font-bold text-black text-base">
            Balasan
          </div>
          <ion-button size="small" *ngFor="let balasan of balasan?.balasan; let i = index;"
            (click)="openUrl(balasan)">Surat Balasan {{ i + 1
            }}</ion-button>
        </div>

        <div class="flex flex-col my-4" *ngIf="balasan?.balasan_dari && balasan?.balasan_dari.length > 0">
          <div class="font-bold text-black text-base">
            Balasan dari
          </div>
          <ion-button size="small" *ngFor="let balasan of balasan?.balasan_dari; let i = index;"
            (click)="openUrl(balasan)">Surat Balasan {{ i + 1
            }}</ion-button>
        </div>
      </ion-card>

      <ion-card class="mb-10 mx-0 p-6" mode="ios" *ngIf="mailDetail?.undangan_acara">
        <div class="text-2xl font-bold text-[--ion-color-primary]">
          Informasi Undangan
        </div>

        <div class="flex flex-col my-4">
          <div class="font-bold text-black text-base">
            Nama Acara
          </div>
          <div class="text-sm">
            {{ mailDetail?.undangan_acara }}
          </div>
        </div>

        <div class="flex flex-col my-4">
          <div class="font-bold text-black text-base">
            Tanggal dan Waktu
          </div>
          <div class="text-sm">
            {{ convertDateWithTime(mailDetail?.undangan_awal) + ' s.d ' +
            convertDateWithTime(mailDetail?.undangan_akhir) }}
          </div>
        </div>

        <div class="flex flex-col my-4">
          <div class="font-bold text-black text-base">
            Lokasi
          </div>
          <div class="text-sm">
            {{ mailDetail?.undangan_lokasi }}
          </div>
        </div>

        <div class="flex flex-col my-4">
          <div class="font-bold text-black text-base">
            Keterangan
          </div>
          <div class="text-sm">
            {{ mailDetail?.undangan_desc }}
          </div>
        </div>
      </ion-card>

    </div>
    <div
      class="h-14 w-14 bg-red-600 rounded-full fixed right-4 bottom-10 shadow-lg shadow-red-200 flex items-center justify-center"
      (click)="openDisposisiModal()" *ngIf="data?.surat_masuk_id">
      <ion-icon class="h-6 w-6" name="ellipsis-horizontal-outline" color="light"></ion-icon>
    </div>
  </div>
</ion-content>