<ion-content [fullscreen]="true" id="main-content" scrollEvents="true" (ionScroll)="handleScrollEvents($event)">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content [refreshingSpinner]="'crescent'"></ion-refresher-content>
  </ion-refresher> -->

  <div class="container flex flex-col flex-grow min-h-full mx-auto">
    <!-- Header -->
    <div class="w-full p-4 flex justify-between items-center plt-ios:pt-10 sticky top-0 z-50"
      [ngClass]="{'bg-[#d42d2d] bg-opacity-100' : scrollTop > 100}">
      <ion-button mode="ios" fill="clear" (click)="toggleSideMenu()">
        <ion-icon class="p-1 text-white" [name]="isMenuOpen ? 'close-outline' : 'menu-outline'"></ion-icon>
      </ion-button>
      <ion-button mode="ios" fill="clear" (click)="navCtrl.navigateForward('/notifications')">
        <ion-icon name="notifications-outline" class="p-1 text-white"
          [ngClass]="{'after:h-2 after:w-2 after:bg-yellow-500 after:rounded-full after:absolute after:top-0 after:right-0' : notifs?.length > 0 }"></ion-icon>
      </ion-button>
    </div>

    <!-- Hero -->
    <div class="w-full p-6 mb-12">
      <div class="flex justify-end items-center">
        <div class="flex flex-col items-end text-white mx-4">
          <div class="text-sm">Selamat datang,</div>
          <div class="text-xl font-bold text-end">{{ user?.name
            }}
          </div>
        </div>
        <img [src]="user?.avatar ? user?.avatar : 'assets/images/default-user.png'"
          class="w-16 h-16 object-cover rounded-full shadow-xl" appBrokenImage="assets/images/default-user.png" />
      </div>
    </div>

    <div class="flex-grow w-full bg-white rounded-t-2xl">
      <!-- Card Summary -->
      <ion-card mode="ios" class="min-h-[108px] -mt-14 rounded-2xl p-4 flex flex-col justify-center">
        <div class="flex justify-between items-center px-4 py-2 border-b border-b-gray-300">
          <div class="text-black text-base">Dokumen belum TTE</div>
          <div class="flex justify-center items-center rounded-xl text-white w-8 bg-red-500 font-semibold">{{
            homeData?.doc_belum ?
            homeData?.doc_belum
            : '0'}}
          </div>
        </div>
        <div class="flex justify-between items-center px-4 py-2">
          <div class="text-black text-base">Dokumen hari ini</div>
          <div class="flex justify-center items-center rounded-xl text-white w-8 bg-blue-500 font-semibold">{{
            homeData?.doc_today ? homeData?.doc_today : '0' }}</div>
        </div>
      </ion-card>

      <div class="flex justify-between items-start py-2 m-6 text-sm font-semibold text-black">
        <div>{{ serverDate }}</div>
        <div>{{ serverTime }}</div>
      </div>

      <!-- Home Menus -->
      <div class="flex justify-around mx-4">
        <div *ngFor="let item of menu.homeMenus" class="text-center">
          <div class="w-16 menu-wrapper flex flex-col items-center" (click)="handleMenuClick(item)">
            <div class="w-14 h-14 bg-red-50 flex justify-center items-center rounded-xl">
              <ion-icon [name]="item.icon" class="text-2xl text-red-500"></ion-icon>
            </div>
            <div class="text-sm font-light mt-2">{{ item.name }}</div>
          </div>
        </div>
      </div>

      <!-- Documents List New-->
      <div class="p-6">
        <div class="flex justify-between items-center">
          <div class="text-2xl font-bold">Dokumen Terbaru</div>
          <ion-button fill="clear" mode="ios" size="small" class="text-xs"
            (click)="navCtrl.navigateForward('new-doc')">Lihat Semua</ion-button>
        </div>
        <div class="flex flex-col items-center text-slate-400 my-6"
          *ngIf="homeData?.lastest.length < 1 && !loader.isLoading.value">
          <ion-icon src="assets/images/file-pdf.svg" class="text-3xl"></ion-icon>
          <ion-text class="text-sm my-2"> Tidak ada dokumen terbaru </ion-text>
        </div>
        <app-document-thubmnail *ngFor="let doc of homeData?.lastest" [data]="doc"></app-document-thubmnail>
        <div *ngIf="loader.isLoading.value && !homeData?.lastest">
          <app-skeleton *ngFor="let i of [1,2,3,4,5]" [type]="'doc-thumb'"></app-skeleton>
        </div>
      </div>

      <!-- Documents List Histories-->
      <div class="p-6">
        <div class="flex justify-between items-center">
          <div class="text-2xl font-bold">Riwayat Dokumen</div>
          <ion-button fill="clear" mode="ios" size="small" class="text-xs"
            (click)="navCtrl.navigateForward('signed-doc')">Lihat Semua</ion-button>
        </div>
        <div class="flex flex-col items-center text-slate-400 my-6"
          *ngIf="homeData?.histories.length < 1 && !loader.isLoading.value">
          <ion-icon src="assets/images/file-pdf.svg" class="text-3xl"></ion-icon>
          <ion-text class="text-sm my-2"> Tidak ada riwayat dokumen terakhir </ion-text>
        </div>
        <app-document-thubmnail *ngFor="let doc of homeData?.histories" [data]="doc"></app-document-thubmnail>
        <div *ngIf="loader.isLoading.value && !homeData?.histories">
          <app-skeleton *ngFor="let i of [1,2,3,4,5]" [type]="'doc-thumb'"></app-skeleton>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-menu contentId="main-content" menuId="main-menu" swipeGesture="true" type="push"
  (ionWillClose)="isMenuOpen = false" (ionWillOpen)="isMenuOpen = true">
  <div class="w-full flex flex-col overflow-y-auto min-h-full">
    <div class="pb-4 px-4 pt-10 plt-ios:pt-20 flex flex-col gap-4">
      <img [src]="user.avatar ? user.avatar : 'assets/images/default-user.png'"
        class="w-16 h-16 rounded-full object-cover shadow-xl" appBrokenImage="assets/images/default-user.png" />
      <div class="flex flex-col">
        <div class="text-xl text-black font-bold">{{ user.name
          }}
        </div>
        <div class="text-sm text-gray-400">
          {{ user.role.name }}
        </div>
      </div>
    </div>
    <div class="p-4" *ngFor="let sidemus of menu.sideMenus | keyvalue">
      <div class="text-xl font-bold text-black">
        {{ sidemus.key }}
      </div>

      <div class="text-black my-2 flex gap-4 items-center border-b border-b-gray-200 p-2 text-sm"
        *ngFor="let detail of sidemus.value"
        [ngClass]="{'hidden' : detail.name === 'Ubah Passphrase' && user.role.slug !== 'signer'}"
        (click)="detail.action()">
        <ion-icon [name]="detail.icon" class="text-gray-500 h-6 w-6 flex-shrink-0"></ion-icon>
        <div class="text-gray-500">{{ detail.name }}</div>
      </div>
    </div>
    <div class="p-6">
      <ion-button (click)="logoutPrompt()" expand="block" mode="ios" fill="outline">Logout</ion-button>
    </div>
  </div>
</ion-menu>