<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="handleScroll($event)">
  <div class="container flex flex-col flex-grow min-h-full mx-auto">
    <!-- Header -->
    <div class="w-full h-[92px] p-4 flex flex-col mt-4 plt-ios:pt-10 plt-ios:h-[120px] sticky top-0 z-50"
      [ngClass]="{'!flex-row items-center bg-white shadow-sm' : scrollTop > 50}">
      <app-back-button></app-back-button>
      <div class="text-4xl font-bold" [ngClass]="{'!text-2xl' : scrollTop > 50}">Tentang Aplikasi</div>
    </div>

    <div class="flex-grow w-full bg-white rounded-t-2xl px-6 py-10 mt-4">
      <div class="my-4">
        <div class="flex flex-col items-center text-center border border-gray-300 p-4 rounded-xl">
          <div class="flex gap-4">
            <img class="h-12 w-12" src="assets/images/logo-bssn.png">
            <img class="h-12 w-12" src="assets/images/logo-puspem.png">
          </div>
          <div class="text-2xl font-bold">Badung Digital Signature</div>
          <div class="text-sm">Developed by</div>
          <div class="font-semibold">Badung Smart City Team</div>
          <div class="font-semibold">Dinas Komunikasi dan Informatika Kabupaten Badung</div>
        </div>

        <div class="text-center my-4 font-semibold">
          Version {{ currentVersion ? currentVersion : '-' }}
        </div>

        <div class="flex justify-center">
          <ion-button mode="ios" (click)="checkUpdates()" fill="clear">
            <ion-icon name="refresh-outline" slot="start"></ion-icon>
            <ion-label>{{ loader.isLoading.value ? 'Checking...' : 'Check for updates'}}</ion-label>
          </ion-button>
        </div>

        <div class="my-4 text-center font-semibold">
          {{ checkString }}

          <ion-button color="tertiary" fill="clear" class="my-2" *ngIf="isUpdateAvailable" (click)="updateNow()">
            Update Now
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>