<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="handleScroll($event)">
  <div class="container flex flex-col flex-grow min-h-full mx-auto">
    <!-- Header -->
    <div class="w-full p-4 flex flex-col gap-4 mt-4 plt-ios:pt-10 sticky top-0 z-50 bg-white "
      [ngClass]="{'!flex-row items-center shadow-sm' : scrollTop > 150}">
      <app-back-button></app-back-button>
      <div class="text-4xl font-bold" [ngClass]="{'!text-xl' : scrollTop > 150}">Ubah Kata Sandi</div>
    </div>

    <div class="flex-grow w-full bg-white rounded-t-2xl p-6">

      <form [formGroup]="updateForm" (submit)="submitChange()">
        <ion-item lines="none" class="border border-gray-300 rounded-xl my-2">
          <ion-input type="password" label="Kata Sandi Lama" labelPlacement="floating"
            formControlName="oldPassword"></ion-input>
        </ion-item>
        <div class="px-4">
          <div *ngFor="let error of errorMessages.oldPassword">
            <div class="text-sm text-red-500 flex items-center gap-2"
              *ngIf="updateForm.get('oldPassword').hasError(error.type) && (updateForm.get('oldPassword').dirty || updateForm.get('oldPassword').touched)">
              <ion-icon name="alert-circle-outline"></ion-icon>
              {{ error.message }}
            </div>
          </div>
        </div>

        <ion-item lines="none" class="border border-gray-300 rounded-xl my-2">
          <ion-input type="password" label="Kata Sandi Baru" labelPlacement="floating"
            formControlName="newPassword"></ion-input>
        </ion-item>
        <div class="px-4">
          <div *ngFor="let error of errorMessages.newPassword">
            <div class="text-sm text-red-500 flex items-center gap-2"
              *ngIf="updateForm.get('newPassword').hasError(error.type) && (updateForm.get('newPassword').dirty || updateForm.get('newPassword').touched)">
              <ion-icon name="alert-circle-outline"></ion-icon>
              {{ error.message }}
            </div>
          </div>
        </div>

        <ion-item lines="none" class="border border-gray-300 rounded-xl my-2">
          <ion-input type="password" label="Ulangi Kata Sandi Baru" labelPlacement="floating"
            formControlName="confirmNewPassword"></ion-input>
        </ion-item>
        <div class="px-4">
          <div *ngFor="let error of errorMessages.confirmNewPassword">
            <div class="text-sm text-red-500 flex items-center gap-2"
              *ngIf="updateForm.get('confirmNewPassword').hasError(error.type) && (updateForm.get('confirmNewPassword').dirty || updateForm.get('confirmNewPassword').touched)">
              <ion-icon name="alert-circle-outline"></ion-icon>
              {{ error.message }}
            </div>
          </div>
        </div>

        <div class="px-4 text-sm text-red-500 flex items-center gap-2"
          *ngIf="updateForm.get('newPassword').value && updateForm.get('confirmNewPassword').value && updateForm.hasError('passwordNotMatch')">
          <ion-icon name="alert-circle-outline"></ion-icon>
          Password tidak sama !
        </div>
        <ion-button mode="ios" expand="block" class="my-2" [disabled]="updateForm.invalid" type="submit">Simpan
          Perubahan</ion-button>
      </form>

    </div>
  </div>
</ion-content>